<!DOCTYPE html>
<html lang="en">
<head>
    <!-- css file -->
    <link rel="stylesheet" href="../script-style/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head> 
<body>
    <h1>Chatbot Builder</h1>

    <% if (locals.chatbots) { %>
    
        <!-- arrange the chatbots here -->

    <% } %>

    <a href="http://localhost:5000/pricing" style="text-decoration: none;">Pricing</a>  
    <!-- pricing contains the plans like 14days/ monthly and yearly plans and their pricing -->
    
    <a href="http://localhost:5000/create" style="text-decoration: none;">Create</a>

</body>
</html>